@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Pacifico", cursive;
  background-color: #fdebd0;
  color: #3b3b3b;
}

.primary-heading {
  text-align: center;
  margin: 20px 0;
  font-size: 4rem;
  color: #ff4d4d;
}

.birth-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

label {
  font-size: 2.2rem;
  margin-right: 1rem;
}

input {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #3b3b3b;
  border-radius: 11px;
  outline: none;
  background-color: rgba(255, 77, 77, 0.355);
}

#btn {
  font-family: inherit;
  font-size: 2.2rem;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 11px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ff4d4d;
  color: #000;
  transition: all 0.3s ease-in;
}

#btn:hover {
  background-color: #000;
  color: #ff4d4d;
}

.text {
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 2rem;
}

#age-show {
  color: #ff4d4d;
}
