@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Pacifico", cursive;
  background-color: #fdebd0;
  color: #3b3b3b;
  overflow-x: hidden;
}

.primary-heading {
  text-align: center;
  margin: 20px 0;
  font-size: 3.8rem;
  color: #ff4d4d;
}

.birth-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

label {
  font-size: 2.2rem;
  margin-right: 1rem;
}

input {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #3b3b3b;
  border-radius: 11px;
  outline: none;
  background-color: rgba(255, 77, 77, 0.355);
}

#btn,
#again {
  font-family: inherit;
  font-size: 2.2rem;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 11px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ff4d4d;
  color: #000;
  transition: all 0.3s ease-in;
}

#btn:hover,
#again:hover {
  background-color: #000;
  color: #ff4d4d;
}

#age-show {
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 1rem;
  color: #ff4d4d;
  padding-inline: 1.6rem;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(232, 123, 123, 0.629);
  backdrop-filter: blur(10px);
  transform: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-modal {
  font-size: 3rem;
  text-align: center;
  color: #000;
}

#age-show-modal {
  display: block;
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 3rem;
}
